body {
  margin: 0px;
  padding: 0px;
}
html {
  padding: 0;
  margin: 0;
}
:root {
  --button-color: #3072db;
  --button-text-color: #fff;

  --text-main: #0a0d14;
  --text-sub: #525866;

  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 16px;

  --border-primary: #ccc;
  --border-radius-md: 8px;
  --border-radius-sm: 4px;

  --font-base: 14px;
  --font-sm: 12px;
  --font-lg: 16px;
}
